[data-section="appbox-screenshots"] {
  // height: 30em;
  background: linear-gradient(185deg, color(primary) 0%, color(primary) calc(30% + 7vw), color(secondary) calc(30% + 7vw), color(secondary) 100%);
  //@include flex-box($align: center, $wrap: wrap, $direction: row, $justify: center);
  padding: 5% 0;
  text-align: center;

  ul {
    margin-top: 5%;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin: 1em;
  }

  .screenshot {
    display: none;
    @media only screen and (min-width: $break) {
      display: inline-block;
    }
  }

  a {
    margin: 1.5%;
  }

  img {
    padding-top: 3em;
  }

}
