[data-section="app-reviews"] {
  background: color(accent);
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;

  .review-icon {
    position: relative;
    text-align: center;
    margin-bottom: 5%;

    .icon-quote {
      width: 100%;
      padding: 1rem 1.6rem;
      border-bottom: solid 5px;
      border-bottom-color: color('base');
      border-radius: 50%;
      margin-bottom: 1%;
    }
  }

  h1 {
    text-align: center;
    font-size: $font-larger;
    margin-top: 1.5em;
  }

  > p {
    position: relative;
    top: -3em;
    text-align: center;
    // margin: 0 auto;
    font-family: $primary-font;
    font-size: $font-large;
    margin: 0 .5em;

  }


  .swiper-container {
    position: relative;
    margin-top: 0;
    top: -2em;
  }

  figcaption {
    text-align: left;
  }
}
