[data-section="app-reviews"] {
  background: color(accent);
  padding-bottom: 5%;

  h1 {
    text-align: center;
    font-size: $font-larger;
  }

  p {
    text-align: center;
    font-family: $primary-font;
    font-size: $font-large;
    margin: 1% 0;
  }

  .swiper-container {
    margin-top: 5%;
  }
}
