[data-section="app-reviews"] {
  background: color(accent);
  padding-bottom: 5%;
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .swiper-container {
    margin-top: 5%;
  }
}
