[data-div="best-way"] {
  background: linear-gradient(176deg, $hero-background 0%, $hero-background calc(100% - 7vw), color(primary) calc(100% - 7vw), color(primary) 100%);
  position: relative;
  text-align: center;
  padding: 2em 1em 4em;

  @media screen and (min-width: $break) {
     &:after {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      bottom: 0;
      left: 0;
      height: 14.125em;
      width: 100%;
      background: url('/img/trap-shape.svg') no-repeat;
    }
  }
  div {

    @media only screen and (min-width: $break) {
      margin-right: 8%;
      width: 45%;
    }
  }

  @media only screen and (min-width: $break) {
    @include flex-box($align: flex-start, $wrap: wrap, $direction: row, $justify: center);
    text-align: left;
    padding: 5% 2% 0%;
  }

  h1 {
    margin: 3em 0 4em;
    font-family: $secondary-font;
    font-size: $font-hero;
    font-weight: $font-weight-sb;

    @media only screen and (min-width: $break) {
      margin: 1em 0;
    }
  }

  p {

    font-family: $primary-font;
    font-size: $font-large;

     @media only screen and (min-width: $break) {
      margin: 2em 0;
      // width: 80%;
    }

    strong {
      font-size: 1.125em;
      font-weight: $font-weight-b;
    }
  }

  video {
    width: 146px;
    margin: 2em 0;
  }

  & img  {
    display: none;

    @media only screen and (min-width: $break) {
      display: inline-block;
      overflow: none;
      margin-top: 8%;
    }
  }

  figure {
    display: inline-block;
    position: relative;
    max-width: 300px;
  }

  figcaption {
     @media only screen and (min-width: $break) {
      position: absolute;
      top: 40%;
      right: -12em;
    }
  }
}


[data-aside="get-free"] {
  background: linear-gradient(176deg, color(primary) 0%, color(primary) calc(100% - 7vw), color(secondary) calc(100% - 7vw), color(secondary) 100%);
  padding: 3em .5em;
  @media only screen and (min-width: $break) {
    @include flex-box($align: center, $wrap: wrap, $direction: column, $justify: center);
    padding: 0 0 5% 0;
    h2, p, ul {
      position: relative;
      top: -4rem;
    }
  }
}
