[data-section="conference-support"] {
  @extend %background-accent-primary;
  position: relative;
  padding: 2em;


  h1 {
    font-size: 1.75em;
    font-family: $secondary-font;
    font-weight: $font-weight-sb;
    float: left;
  }

  h2 {
    font-size: 1.375em;
    font-family: $primary-font;
  }

  p {
    font-family: $primary-font;
    font-size: $font-small;
  }

  .btn-small {
    margin-top: 6em;
    border-top: 3px solid border('new');
    border-bottom: 3px solid border('new');
    background: color('base');
    color: text('secondary');
    display: inline-block;
  }

  & aside {
    display: flex;
    width: 35%;
    margin-top: 3em;

    div {
      float: right;

      p {
      margin: 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
    }

      span {
      font-size: 3em;
      text-align: center;
    }
  }
}

  & aside h2 {
    height: 3em;
    float: left;
    display: inline-block;
    padding-right: 3em;
    background-image: url('/img/right-arrow-new-feature.svg');
    background-repeat: no-repeat;
    background-position: bottom right;


  }

  & img {
    display: none;
  }

  @media only screen and (min-width: $break) {
    & {
      padding: 6em 9em 6em;
    }

    & img {
    max-width: 50%;
    display: block;
    float: right;
    }
  }
}

