[data-section="conference-support"] {
  @extend %background-accent-primary;
  @include flex-box($align: center, $direction: column, $justify: center);
  padding: 2em;
  text-align: center;

  @media only screen and (min-width: $break) {
    @include flex-box($align: center, $direction: row, $justify: space-between);
    max-width: 100%;
    padding: 8% 8% 2% 8%;
    text-align: left;
  }

  h1 {
    font-size: 1.75em;
    font-family: $secondary-font;
    font-weight: $font-weight-sb;
    padding: .75em 0;
    @media only screen and (min-width: $break) {
      padding: 4% 0;
    }
  }

  p {
    font-family: $primary-font;
    font-size: $font-small;
  }

  .conference-text-wrapper {

    @media only screen and (min-width: $break) {
      order: 1;
      max-width: 50%;
      padding-bottom: 8%;
    }
  }

  .btn-small {
    border-top: 3px solid border('new');
    border-bottom: 3px solid border('new');
    background: color('base');
    color: text('secondary');
    display: inline-block;
  }

  aside {

    @include flex-box($wrap: wrap, $direction: row);
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 0;

    @media only screen and (min-width: $break) {
      justify-content: flex-start;
    }

    h2 {
      font-family: $primary-font;
      font-size: 1em;
      padding: .75em 0;
      @media only screen and (min-width: $break) {
        font-size: 1.375em;
        padding: 0;
      }
    }

    div {
      margin: 1em;
      @media only screen and (min-width: $break) {
        margin: 1% 5%;
      }

      span {
        text-align: center;
        font-size: 1.5em;
        @media only screen and (min-width: $break) {
          font-size: 3em;
        }
      }

      p {
        text-align: center;
        padding-top: .5em;
        @media only screen and (min-width: $break) {
          padding-top: 1.2em;
        }
      }
    }
  }

  img {
    display: none;
    @media only screen and (min-width: $break) {
      display: -webkit-flex;
      display: flex;
      order: 3;
      width: 50%;
      flex-basis: 50%;
    }
  }
}

  // h1 {
  //   font-size: 1.75em;
  //   font-family: $secondary-font;
  //   font-weight: $font-weight-sb;
  //   float: left;
  // }

  // h2 {
  //   font-size: 1.375em;
  //   font-family: $primary-font;
  // }

  // p {
  //   font-family: $primary-font;
  //   font-size: $font-small;
  // }

  // .btn-small {
  //   border-top: 3px solid border('new');
  //   border-bottom: 3px solid border('new');
  //   background: color('base');
  //   color: text('secondary');
  //   display: inline-block;
  // }
