[data-section="conference-support"] {
  @extend %background-accent-primary;

  h1 {
    font-size: 1.75em;
    font-family: $secondary-font;
    font-weight: $font-weight-sb;
  }

  h2 {
    font-size: 1.375em;
    font-family: $primary-font;
  }

  p {
    font-family: $primary-font;
    font-size: $font-small;
  }

  @media only screen and (min-width: 50em) {
    @include flex-box($align: center, $direction: row, $justify: space-between);
    max-width: 100%;
    padding: 8% 8% 2% 8%;

    .conference-text-wrapper {
      order: 1;
      max-width: 45%;
      padding-bottom: 8%;

      .btn-small {
        border-top: 3px solid border('new');
        border-bottom: 3px solid border('new');
        background: color('base');
        color: text('secondary');
        display: inline-block;
      }

      h1 {
        padding: 4% 0;
      }

      aside {
        @include flex-box($wrap: wrap, $direction: row);
        align-items: center;
        margin: 10% 0 0 0;

        div {
          margin: 1% 5%;
          span {
            font-size: 3em;
            text-align: center;
          }

          p {
            padding-top: 1.2em;
            text-align: center;
          }
        }
      }
    }

    img {
      order: 3;
      width: 50%;
      flex-basis: 50%;
    }
  }
}

  // h1 {
  //   font-size: 1.75em;
  //   font-family: $secondary-font;
  //   font-weight: $font-weight-sb;
  //   float: left;
  // }

  // h2 {
  //   font-size: 1.375em;
  //   font-family: $primary-font;
  // }

  // p {
  //   font-family: $primary-font;
  //   font-size: $font-small;
  // }

  // .btn-small {
  //   border-top: 3px solid border('new');
  //   border-bottom: 3px solid border('new');
  //   background: color('base');
  //   color: text('secondary');
  //   display: inline-block;
  // }
