[data-section="discounted-pricing"] {
  @extend %background-primary-accent;
  @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: space-around);
  padding: 5% 10% 15% 10%;

  h1 {
    order: 1;
    width: 100%;
    text-align: center;
    margin: 0 0 2% 0;
  }

  p {
    order: 2;
    width: 100%;
    padding: 2% 20%;
    margin: 0 0 2% 0;
    text-align: center;
  }

  table {
    order: 3;
    width: 20%;
    margin: 1%;
  }

}
