%flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: column;
  flex-direction: row;
  -moz-flex-flow: row wrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.l-flex-container {
  @extend %flex-container;

}
