%flex-item {
  text-align: center;
  margin: auto;
  max-width: 85%;
  -webkit-flex-basis: 85%;
  flex-basis: 85%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.l-flex-item {
  @extend %flex-item;
}
