footer {
  @extend %background-accent;
  position: relative;

  .to-top {
    position: absolute;
    text-align: left;
    margin-left: 2%;
    top: -1.8em;
  }

  p {
    text-align: center;
    font-family: $primary-font;
    font-weight: $font-weight-l;
    font-size: $font-smaller;
    margin: 0;
    padding: 2em;
  }

  .logo {
    font-family: $logo-font;
    font-size: em(26);
    padding: 0;
    @include logo-underline(7.1%, url('/img/logo-path-white.svg'));
  }

  ul {
    padding: 2% 0;
    margin-bottom: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: .75em;
      @media only screen and (min-width: $break) {
        margin: .5em;

        a {
          &:hover {
          color: color('secondary');
          }
        }
      }
    }
  }
}
