[data-section="more-apps"] {
  @extend %background-accent-primary;
  padding: 5em 1em 10em;

  h1 {
    margin-bottom: 2em;
  }

  ul {
    margin-top: 5%;
    margin-bottom: 0;
  }

  li {
    margin-bottom: 2em;
  }
}
