[data-section="team-members"] {
  @extend %background-accent;
  @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: space-around);
  padding: 5% 10%;

  h1 {
    order: 1;
    flex-basis: 100%;
    text-align: center;
    margin: 0;
  }

  p {
    order: 2;
    // flex-basis: 100%;
    margin: 0 0 5% 0;
    text-align: center;
  }

  ul {
    order: 3;
    flex-basis: 100%;
    @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: space-around);
    margin: 5% 1% 2% 1%;

    li {
      max-width: 100%;
      margin-bottom: 1.5em;
    }
  }
}
