[data-section="why-appbox"] {
  @extend %background-primary-accent;
  @include flex-box($align: center, $wrap: wrap, $direction: column, $justify: center);

  @media only screen and (min-width: 50em) {
    @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: center);
    width: 100%;
    align-content: center;
    padding: 8%;
  }

  h1 {
    margin-top: 2em;
    text-align: center;
    @media only screen and (min-width: 50em) {
      margin-top: 0;
      order: 1;
      width: 100%;
      text-align: center;
    }
  }

  img {
    display: none;
    @media only screen and (min-width: 50em) {
      display: flex;
      order: 3;
      flex-basis: 35%;
    }
  }

  .why-1 {
    text-align: center;
    margin: 1em 0 0 0;
    @media only screen and (min-width: 50em) {
      order: 2;
      flex-basis: 30%;
    }

    li {
      display: inline-block;
      margin: 2em;
      @media only screen and (min-width: 50em) {
        max-width: 100%;
        text-align: right;
        display: inline;
      }
      h2 {
        margin: 1em 0 .5em 0;
        padding: 0 2em;
      }
    }
  }

  .why-2 {
    text-align: center;
    margin: 0 0 2em 0;
    @media only screen and (min-width: 50em) {
      order: 4;
      flex-basis: 30%;
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      margin: 2em;
      @media only screen and (min-width: 50em) {
        max-width: 100%;
        text-align: right;
        display: inline;
      }
      h2 {
        margin: 1em 0 .5em 0;
        padding: 0 2em;
      }
    }
  }
}

