[data-section="why-appbox"] {
  @extend %background-primary-accent;
  @include flex-box($align: center, $wrap: wrap, $direction: column, $justify: center);
  text-align: center;

  @media only screen and (min-width: 50em) {
    @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: center);
    width: 100%;
    align-content: center;
    padding: 5%;

  }

  h1 {
    @media only screen and (min-width: 50em) {
      order: 1;
      width: 100%;
      text-align: center;
    }
  }

  img {
    display: none;
    @media only screen and (min-width: 50em) {
      display: flex;
      order: 3;
      flex-basis: 35%;
    }
  }

  .why-1 {

    @media only screen and (min-width: 50em) {
      order: 2;
      flex-basis: 30%;
    }

    li {
      display: inline-block;
      @media only screen and (min-width: 50em) {
        max-width: 100%;
        text-align: right;
        display: inline;
      }
    }
  }

  .why-2 {

    @media only screen and (min-width: 50em) {
      order: 4;
      flex-basis: 30%;
    }

    li {
      display: inline-block;
      @media only screen and (min-width: 50em) {
        max-width: 100%;
        text-align: right;
        display: inline;
      }
    }
  }
}

