@mixin background-horiz-line($background-color: color('primary'), $line-color: border('primary')) {
  background-image: linear-gradient($background-color 49%,
                    $line-color 49%,
                    $line-color 50%,
                    $background-color 50%,
                    $background-color 100%);
}

@mixin bundle-theme($font-color, $border-color) {
  color: $font-color;
  border-color: $border-color;
  background-color: transparent;
}

%table {
  font-family: $secondary-font;
  font-size: $font-regular;
  font-weight: $font-weight-l;
  text-align: center;
  border-collapse: collapse;
  border-width: $input-border-width;
  border-style: $input-border-style;
}

.bundle {
  @extend %table;
  min-width: 20em;
  @include bundle-theme(text('primary'), border('primary'));

  th {
    padding: 2.2rem 4rem;
    font-weight: $font-weight-sb;
  }

  tbody tr:first-child {
    display: block;
    @include background-horiz-line($line-color: border('primary'));
  }

  td {
    padding: .667rem;
    font-family: $primary-font;
    font-size: $font-small;
  }

  .bundle-plan {
    @include icon-border;
    display: inline-block;
    padding: 1.2rem 1.6rem;
    font-size: 0.625em;
    color: text('placeholder');
    background-color: color('primary');

    & span {
      font-family: $primary-alt-font;
      font-weight: $font-weight-b;
      font-size: 1.625rem;
      color: color('accent');
    }
  }

  .bundle-list {
    padding-top: 2.5em;
  }

  tfoot td {
    padding: 3em 0;
  }

  .btn-small {
    padding: 1em 3em;
    font-size: $font-smaller;
    font-weight: $font-weight-m;
    background-color: transparent;
    border-color: border('primary');
  }

  &:hover {
    th {
      background-color: color('accent');
      border-color: color('accent');
    }
    .bundle-plan {
      @include icon-border($color: color('base'));
      color: text('primary');
      background-color: color('accent');

      & span {
        color: text('primary');
      }
    }
    tbody tr:first-child {
      background-image: linear-gradient(color('accent') 49%,
                    color('primary') 50%,
                    color('primary') 100%);
    }
    .btn-small {
      background-color: color('accent');
      border-color: border('accent');
    }
  }
}
