.swiper-container {
  width: 90%;
  @media screen and (min-width: $break) {
    width: 100%;
  }
}

.swiper-wrapper {
  height: calc(23em - 20vw);
  @media screen and (min-width: $break) {
    width: 60%;
    height: calc(23em - 10vw);
    margin: 0 auto;
  }
}

.swiper-pagination-bullet {
  background: none;
  height: 10px;
  width: 10px;
  border: 1px solid color(base);
  opacity: 1;
}

.swiper-container-vertical {
  > .swiper-pagination {
    top: 15%;
    .swiper-pagination-bullet {
      margin: 7px 0;
    }
  }
}

.swiper-pagination-bullet-active {
  background: color(base);
}
