%download-app {
  p {
    display: inline-block;
    font-family: $primary-font;
    font-weight: $font-weight-l;
    font-size: $font-large;
    em {
      font-style: normal;
      text-transform: uppercase;
    }
  }
  ul {
    display: inline-block;
    @media only screen and (min-width: $break) {
      @include flex-box($justify: space-between);
    }
  }
  li {
    display: inline-block;
    padding: 2%;
  }
  .btn-large {
    display: inline-block;
    min-width: 14rem;
    font-family: $primary-alt-font;
    font-size: 1.375rem;
    font-weight: $font-weight-r;
    span {
      padding-right: 0.5em;
      font-size: 1.5em;
      vertical-align: -0.125em;
    }
  }
  .svg-google {
    line-height: 0;
    vertical-align: middle;
    &:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 0.95em;
      background: url('/img/google-store.svg') no-repeat;
      background-size: contain;
    }
  }
}

.download-center {
  @extend %download-app;
  text-align: center;
  h2 {
    font-weight: $font-weight-m;
    font-size: 1.875em;
    text-transform: uppercase;
  }
  p {
    padding: .5em 5% 3.5em;
    background: url('/img/get-it-down-arrow.svg') no-repeat;
    background-position: right;
  }
}

.download-left {
  @extend %download-app;
  h1 {
    display: inline-block;
    padding-right: 1.7em;
    padding-bottom: 1em;
    font-weight: $font-weight-l;
    background: url('/img/down-arrow-download.svg') no-repeat;
    background-position: right .6em;

    strong {
      font-weight: $font-weight-m;
    }

    &:after {
      content: "";
      display: block;
      margin-top: 1em;
      width: 2.618em;
      height: .2em;
      background-color: border(primary);
    }
  }
}
