.flag {
  width: 15em;
  height: 19.5em;
  padding:  6em 1em 1.5em;
  text-align: center;
  color: text('primary');
  background-color: color('secondary');

  & h2 {
  margin-top: 6em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: $font-weight-sb;
  font-size: $font-regular;
  }

  & p {
    font-family: $primary-font;
    font-weight: $font-weight-l;
    font-size: $font-smaller;
    line-height: $primary-lh;
  }

  & span {
    border-color: border('primary');

  }

  &:hover {
    background-color: color('base');
    color: color('secondary');

    span {
      color: color('secondary');
      border-color: color('accent');
      margin: 20px;
    }
  }
}

.team-flag {
  @extend %figcaption-text;
  img {
    display: block;
    margin: 0 auto;
  }
  figcaption {
    text-align: center;
    h2 {
      margin-top: 1.3em;
    }
  }
}
