%header-arrow {
  font-family: $secondary-font;
  font-size: $font-larger;
  font-weight: $font-weight-r;
}

%paragraph-arrow {
  font-family: $primary-font;
  font-size: $font-large;
  font-weight: $font-weight-l;
}

[data-section="team-members"] {
  h1 {
    @extend %header-arrow;
  }
  > p {
    @extend %paragraph-arrow;
    padding: 0 3% 3.6em;
    background: url('/img/down-arrow-team.svg') no-repeat;
    background-position: right .3em;
  }
}

[data-section="app-reviews"] {
  h1 {
    @extend %header-arrow;
  }
  > p {
    @extend %paragraph-arrow;
    display: inline-block;
    padding: 4em 5% 1em;
    background: url('/img/down-arrow-team.svg') no-repeat;
    background-position: right;
  }
  &:before {
    content: "";
    display: inline-block;

    @include icon-border($radius: 50%, $color: border('primary'))
  }
}

