.newsletter {
  text-align: center;

  form {
    padding-bottom: .2em;
  }

  label {
    display: block;
    padding-bottom: 1em;
    font-family: $secondary-font;
    font-weight: $font-weight-sb;
    font-size: 1.25rem;
    text-align: center;
  }

  input {
    width: 14em;
    padding-bottom: 1em;
    margin-bottom: 0;
    border-bottom: 1px solid border(input);
  }

  ::-webkit-input-placeholder {
   text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
     text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;
  }

  :-ms-input-placeholder {
     text-align: center;
  }

  .btn-small {
    display: block;
    padding: .7em 3em;
    font-family: $primary-font;
    font-weight: $font-weight-m;
    font-size: $font-smaller;
  }

  @media screen and (min-width: $break) {
    border-bottom: 1px solid border(input);
    text-align: left;

    ::-webkit-input-placeholder {
     text-align: left;
    }

    :-moz-placeholder { /* Firefox 18- */
       text-align: left;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       text-align: left;
    }

    :-ms-input-placeholder {
       text-align: left;
    }

    input {
      border: none;
    }
    label {
      text-align: left;
    }
    .btn-small {
      display: inline-block;
      padding: .3em 1em;
    }
  }
}
