.search-field {

  input {
    padding-bottom: .5em;
    margin-bottom: 0;
    width: 1em;
    font-family: $primary-font;
    font-size: $font-small;
    font-weight: $font-weight-l;
    text-transform: uppercase;
    background: url('/img/search.svg') no-repeat;
    background-position: left .2em;
    background-size: 1em;
    border: none;
    -webkit-appearance: none;
    @include transition(all .3s ease-in);
    &:hover {
      opacity: .5;
      cursor: pointer;
    }
  }

  input:focus {
    width: 40%;
    margin-left: 10%;
    padding-left: 1em;
    background-color: rgba(255,255,255,.2);
    border-bottom: 1px solid border(primary);
    &:hover {
      opacity: 1;
    }
    @media screen and (min-width: $break) {
      width: 14em;
    }
  }
}
