/*
*
* MONOCHROMATIC THEME COLOR PALETTE
*
*/

$primary-color: #252525;    //Dark Grey
$accent-color: #05c3f9;     //Sky Blue
$base-color: #ffffff;       //White ------ DOCUMENT BACKGROUND
$text-color: #ffffff;       //White
$secondary-color: #383838;  //Light Grey

// EX: background-color: $primary-color; // #252525



/*
*
* OTHER COMMON COLOR VARIATIONS
*
*/

// HEADER & SECTION 1 BACKGROUND
$header-background: #162327;

// PRIMARY (GREY) BUTTON/LINK BORDER & SECTION H1 UNDERLINE
$primary-border: #888888;

// BORDER FOR ACCENT (BLUE) BUTTON/LINK
$accent-border: #0394be;

// QUOTES & TEAM MEMBER IMAGE BORDER
$profile-image-border: #04aede;

// BORDER FOR WHITE BUTTON/LINK
$base-border: #037fa2);

// HOVER COLOR FOR 'MORE APPS'
$hover-background: #333333;

// FORM PLACEHOLDER COLOR & BORDERS
$placeholder-color: #666666;

// DIVIDER DOTS ('WHY CHOOSE APPBOX SECTION')
$divider-color: #4d4d4d;

// ('OTHER APPS')
$secondary-text-color: #000000;

// STARS IN THE APPBOX REVIEWS
$fallback-accent-color: #ff9c1c;

// GREY STARS AND DISABLED TEXT
$disabled-color: #e0e0e0;







