html {
  box-sizing: border-box;

  body {
    margin: 0;
  }

  main {
    position: relative;
    margin-top: 4em;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

li, a {
  text-decoration: none;
}

li {
  list-style: none;
}
