html {
  box-sizing: border-box;

  body {
    margin: 0;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  padding: 0;
}

li, a {
  text-decoration: none;
}

li {
  list-style: none;
}

figure {
  margin: 0;
}
