@mixin flex-box($align: null, $wrap: null, $direction: null, $justify: null) {
  @include display(flex);
  @include align-items($align);
  @include flex-wrap($wrap);
  @include flex-direction($direction);
  @include justify-content($justify);
}

@mixin icon-border($radius: 50%, $color: border('primary')) {
  border-width: 5px 1px;
  border-style: solid;
  border-color: $color;
  border-radius: $radius;
}
