//************BREAK POINT***************
$break: 50em;

// ************COLORS***************

// MONOCHROMATIC THEME COLOR PALETTE

$theme-colors: (
  primary: #252525,   //Dark Grey
  accent: #05c3f9,    //Sky Blue
  secondary: #383838, //Light Grey
  base: #ffffff,      //White ------ DOCUMENT BACKGROUND
);
// EX: $button-color: color('primary'); // #252525



// BORDER COLORS

$border-colors: (
  'primary': mix(white, map-get($theme-colors, primary), 45.5%),  // PRIMARY (GREY) BUTTON/LINK BORDER & SECTION H1 UNDERLINE
  'accent': mix(black, #05c3f9, 30.1%),   // BORDER FOR ACCENT (BLUE) BUTTON/LINK
  'profile': mix(black, #05c3f9, 11%),    // QUOTES & TEAM MEMBER IMAGE BORDER
  'base': mix(black, #05c3f9, 35%),       // BORDER FOR WHITE BUTTON/LINK
  'input': mix(white, #252525, 39%),      // BOTTOM INPUT FIELD BORDER
  'new': #037fa2
);
// EX: $border-color: border('primary'); // #888888



// TEXT COLORS

$text-colors: (
  'primary': #ffffff,
  'secondary': #000000,                   // ('OTHER APPS')
  'placeholder': mix(white, #252525, 30%) // FORM PLACEHOLDER COLOR
);
// EX: $media-color: text('secondary') // #000000


// MISC COLORS

$hero-background: #162327;
$hover-other-apps: mix(white, #252525, 6.5%); // HOVER COLOR FOR 'MORE APPS'
$divider-color: mix(white, #252525, 18.5%);   // DIVIDER DOTS ('WHY CHOOSE APPBOX SECTION')
$star-color: #ff9c1c;                         // STARS IN THE APPBOX REVIEWS
$disabled-color: #e0e0e0;                     // GREY STARS AND DISABLED TEXT


// INPUT VARIABLES

$input-border-width: 1px;
$input-border-style: solid;

//
// COLOR REFERENCE
//

// $primary-color: #252525;    //Dark Grey
// $accent-color: #05c3f9;     //Sky Blue
// $base-color: #ffffff;       //White ------ DOCUMENT BACKGROUND
// $secondary-color: #383838;  //Light Grey

// HEADER & SECTION 1 BACKGROUND
// $hero-background: #162327;

// PRIMARY (GREY) BUTTON/LINK BORDER & SECTION H1 UNDERLINE
// $primary-border: #888888;
// $primary-border: mix(white, #252525, 45.5%);

// BORDER FOR ACCENT (BLUE) BUTTON/LINK
// $accent-border: #0394be;
// $accent-border: mix(black, #05c3f9, 30.1%);

// QUOTES & TEAM MEMBER IMAGE BORDER
// $profile-image-border: #04aede;
// $profile-image-border: mix(black, #05c3f9, 11%);

// BORDER FOR WHITE BUTTON/LINK
// $base-border: #037fa2;
// $base-border: mix(black, #05c3f9, 35%);

// HOVER COLOR FOR 'MORE APPS'
// $hover-other-apps: #333333;
// $hover-other-apps: mix(white, #252525, 6.5%);

// FORM PLACEHOLDER COLOR & BORDERS
// $placeholder-color: #666666;
// $placeholder-color: mix(white, #252525, 30%);

// DIVIDER DOTS ('WHY CHOOSE APPBOX SECTION')
// $divider-color: #4d4d4d;
// $divider-color: mix(white, #252525, 18.5%);

// ('OTHER APPS')
// $secondary-text-color: #000000;

// STARS IN THE APPBOX REVIEWS
// $fallback-accent-color: #ff9c1c;

// GREY STARS AND DISABLED TEXT
// $disabled-color: #e0e0e0;



// **************FONTS*************


// FONT FAMILIES

$primary-font:      'Roboto', sans-serif;
$secondary-font:    'Raleway', sans-serif;
$primary-alt-font:  'Roboto Condensed', sans-serif;
$logo-font:         'strasuaregular', sans-serif;

// FONT SIZES

$base-font-size:    16px;

$font-smaller:      0.75rem;    // 12px
$font-small:        0.875rem;   // 14px
$font-regular:      0.9375rem;  // 15px
$font-large:        1rem;       // 16px
$blockquote:        1.0625em;  // 17px
$font-larger:       2rem;       // 32px
$font-hero:         2.5rem;     // 40px

// FONT WEIGHTS

$font-weight-l:     300;
$font-weight-r:     400;
$font-weight-m:     500;
$font-weight-sb:    600;
$font-weight-b:     700;

// LINE HEIGHTS

$primary-lh:        1.67;
$secondary-lh:      1.375;


// GUIDE TO COMP TYPOGRAPHY

// Logo:  -------  Strasua, Regular, 26pt        1.625em
// Nav:   -------  Roboto, Regular, 14pt         $font-small

// Section 1
// H1:    -------  Raleway, SemiBold, 40pt       $font-hero
// P:     -------  Roboto, Regular, 14pt         $font-small
// Strong:-------  Roboto, Medium, 18pt          1.125em
// Video Caption:  Roboto, Light, 14pt           $font-small

// Aside
// H2:    -------  Raleway, SemiBold, 30pt       1.875em
// P:     -------  Roboto, Light, 16pt           $font-large
// Google/iOS:---  Roboto, Condensed, 22pt       1.375em


// Section 2 Some Amazing Features
// H1:    -------  Raleway, Light, 32pt          $font-larger
// H2:    -------  Raleway, SemiBold, 15pt       $font-regular
// P:     -------  Roboto, Light, 12pt, 1.67(lh) $font-smaller, $primary-lh

// Section 3 Live Conference
// H1:    -------  Raleway, SemiBold, 28pt       1.75em
// P:     -------  Roboto, Light, 14pt, 1.7(lh)  $font-small
// NEW:   -------  Roboto, Medium, 12pt          $font-smaller

// Aside
// H2:    -------  Roboto, Condensed, 22pt       1.375em
// A:     -------  Roboto, BoldCondensed, 12pt   $font-smaller

// Section 4 Why Choose AppBox
// H1:    -------  Raleway, Light, 32pt          $font-larger
// H2:    -------  Raleway, SemiBold, 15pt       $font-regular
// P:     -------  Roboto, Light, 12pt, 1.67(lh) $font-smaller, $primary-lh

// Section 5 App Reviews
// H1:    -------  Raleway, Regular, 32pt        $font-larger
// P:     -------  Roboto, Light, 16pt           $font-large
// BLOCKQ:-------  Roboto, Italic, 17pt,1.53(lh) $blockquote
// STRONG:-------  Roboto, Condensed, 20pt       1.25em
// FIGCAP:-------  Roboto, Regular, 12pt         $font-smaller

// Section 6 Screenshots
// H1:    -------  Raleway, Light, 32pt          $font-larger

// Section 7 More Apps by AppBox
// H1:    -------  Raleway, Light, 32pt          $font-larger
// H2:    -------  Raleway, SemiBold, 15pt       $font-regular
// P:     -------  Roboto, Condensed, 18pt       1.125em
// HOVER: -------  Roboto, Light, 12pt, 2(lh)    $font-smaller

// Section 8 Download Our App
// H1:    -------  Raleway, Light, 32pt          $font-larger
// STRONG:-------  Raleway, Medium, 32pt
// P:     -------  Roboto, Light, 16pt           $font-large
// Google/iOS:---  Roboto, Condensed, 22pt       1.375em
// Img:   -------  Strasua, Regular, 26pt        1.625em

// Aside
// LABEL: -------  Raleway, SemiBold, 20pt       1.25em
// PLACEHOLDER:--  Roboto, Light, 14pt           $font-small
// BUTTON:-------  Roboto, Medium, 12pt          $font-smaller

// Section 9 Discounted Pricing
// H1:    -------  Raleway, Light, 32pt          $font-larger
// P:     -------  Roboto, Light, 14pt,1.375(lh) $font-small, $secondary-lh
// TH:    -------  Raleway, SemiBold, 15pt       $font-regular
// TD-SPAN:------  Roboto, BoldCondensed, 26pt   1.625em
// TD-Price:-----  Roboto, Light, 10pt           0.625em
// TD:    -------  Roboto, Light, 14pt           $font-small
// TFOOT: -------  Roboto, Medium, 12pt          $font-smaller

// Section 10 Team Members
// H1:    -------  Raleway, Regular, 32pt        $font-larger
// P:     -------  Roboto, Light, 16pt           $font-large
// H2:    -------  Roboto, Condensed, 20pt       1.25em
// FIG-P: -------  Roboto, Regular, 12pt         $font-smaller

// Section 11 AppBox Featured In
// H1:    -------  Raleway, Light, 32pt          $font-larger

// Section 12 App Support
// H1:    -------  Raleway, Light, 32pt          $font-larger
// P:     -------  Roboto, Light, 14pt,1.375(lh) $font-small, $secondary-lh
// H2:    -------  Raleway, SemiBold, 15pt       $font-regular
// A:     -------  Roboto, Light, 12pt, 1.83(lh) $font-smaller
// PLACEHOLDER:--  Roboto, Light, 12pt           $font-smaller
// BUTTON:-------  Roboto, Medium, 12pt          $font-smaller

// Footer
// LOGO:  -------  Strasua, Regular, 26pt        1.625em
// COPYRIGHT:----  Roboto, Light, 12pt           font-smaller
